/*******************************************************************
Very basic CSS reset
*******************************************************************/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

/*******************************************************************
Create some global variables
*******************************************************************/

:root {
  --transparent-background: rgba(207, 207, 207, 0.705);
  --my-border-style: 2px solid black;
  --my-border-radius: 10px;
}

/*******************************************************************
The CSS for the background slide transitions 
*******************************************************************/

/* https://css-tricks.com/perfect-full-page-background-image/ */
.backGroundImage.iran,
.backGroundImage.istanbul,
.backGroundImage.newyork,
.backGroundImage.sea,
.backGroundImage.spain,
.backGroundImage.tokyo,
.backGroundImage.utah,
.backGroundImage.vietnam { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration: 1000ms;
  transition-property: background;
}

.iran {
  background: url("./media/backgrounds/iran.jpg") no-repeat center center fixed; 
}
.istanbul {
  background: url("./media/backgrounds/istanbul.jpg") no-repeat center center fixed;
}
.newyork {
  background: url("./media/backgrounds/newyork.jpg") no-repeat center center fixed;
}
.sea {
  background: url("./media/backgrounds/sea.jpg") no-repeat center center fixed;
}
.spain {
  background: url("./media/backgrounds/spain.jpg") no-repeat center center fixed;
}
.tokyo {
  background: url("./media/backgrounds/tokyo.jpg") no-repeat center center fixed;
}
.utah {
  background: url("./media/backgrounds/utah.jpg") no-repeat center center fixed;
}
.vietnam {
  background: url("./media/backgrounds/vietnam.jpg") no-repeat center center fixed;
}



#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
}

/*******************************************************************
The App
*******************************************************************/

.App {
  width: 100vw;
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

}

/*******************************************************************
GamePage - The middle area of the app where the game takes place
*******************************************************************/

.GamePage {
  width: 600px;
  height: 640px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 600px;
  grid-template-rows: 1fr 510px 1fr;
  justify-items: center;

}

/* The container for where cards are held */

.cardHolder {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px 250px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

/*******************************************************************
Styling for the cards which contain the images that users choose
*******************************************************************/

.Card {
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  padding: 10px;

  border: var(--my-border-style);
  border-radius: var(--my-border-radius);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 50px;
  justify-items: center;
  gap: 10px;

  background-color: var(--transparent-background);
}

.Card img {
  width: 200px;

  border: var(--my-border-style);
  border-radius: var(--my-border-radius);
}

.Card:hover {
  background-color: gray;
}

/*******************************************************************
Where the current number of cards chosen is presented
*******************************************************************/

.infoArea {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.infoArea p {
  width: 50px;
  height: 100%;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  background-color: var(--transparent-background);

  border: var(--my-border-style);
  border-radius: var(--my-border-radius);
}

/*******************************************************************
Where the instructions for the game are held
*******************************************************************/ 

.instructionsArea {
  display: grid;
  grid-template-columns: 600px;
  text-align: center;
  align-items: center;
}

/*******************************************************************
Information about the sources and author are presented.
*******************************************************************/ 

header {
  
  width: 100vw;
  position: absolute;
  top: 10px;
  padding: 0px 30px;
  height: 45px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  justify-items: center;
}

header div {
  width: 600px;
  display: grid;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: 150px 150px 150px;
  
  
}

/*******************************************************************
Misc.
*******************************************************************/ 

header p,
.instructionsArea {
  background-color: bisque;
  padding: 5px;
  height: 100%;
  
  border: var(--my-border-style);
  border-radius: var(--my-border-radius);

  background-color: var(--transparent-background);
}

button {
  width: 183px;
  height: 32px;
  padding: 5px;
  text-align: center;

  border: var(--my-border-style);
  border-radius: var(--my-border-radius);
  background-color: var(--transparent-background);
}

button:hover {
  background-color: gray;
}

#preload {
  display: none;
}