* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}


/* https://css-tricks.com/perfect-full-page-background-image/ */
.backGroundImage.barcelona,
.backGroundImage.tokyo { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration: 1000ms;
  transition-property: background;
}

.barcelona {
  background: url("./media/pictures/barcelona.jpg") no-repeat center center fixed; 
}

.tokyo {
  background: url("./media/pictures/tokyo.jpg") no-repeat center center fixed;
}

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
}

.App {
  width: 100vw;
  padding: 30px;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

}

.GamePage {
  width: 600px;
  height: 640px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 600px;
  grid-template-rows: 1fr 510px 1fr;
  justify-items: center;

}

.cardHolder {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px 250px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.infoArea {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.instructionsArea {
  display: grid;
  grid-template-columns: 600px;
  text-align: center;
  align-items: center;
}



.Card {
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  padding: 10px;

  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 50px;
  justify-items: center;
  gap: 10px;

  background-color: rgb(187, 187, 187, .6);
}

.Card img {
  width: 200px;

  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.Card:hover {
  background-color: blueviolet;
}


header {
  
  width: 100vw;
  position: absolute;
  top: 10px;
  padding: 0px 30px;
  height: 45px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  justify-items: center;
}

header div {
  width: 600px;
  display: grid;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: 150px 150px 150px;
  
  
}

header p,
.instructionsArea {
  background-color: bisque;
  padding: 5px;
  height: 100%;
  
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;

  background-color: rgba(235, 235, 235, 0.6);
}

button {
  width: 183px;
  height: 32px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

button:hover {
  background-color: aqua;
}